/*
    ########################
    #### RESETEO INICIAL ###
    ########################
    */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.5s;
}

/*
    ########################
    #### FUENTE TEXTO ######
    ########################
    */
/* Fuente descargada de dafont.com (gratis para uso personal) - https://www.dafont.com/es/game-on.font */
@font-face {
  font-family: game-on;
  src: url(../multimedia/fuente/Game\ On_PersonalUseOnly.ttf);
}

/*
    ################
    #### ROOT ######
    ################
    */
/*Definimos el rojo que vamos a usar en diversos elementos de nuestra app*/
:root {
  --redQuiz: #b83838;
}

/*
  ################
  #### BODY ####
  ################
  */
body {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  height: 100vh;
  background-color: rgb(206, 204, 204);
}

/*
  #######################
  #### BODY > HEADER ####
  #######################
  */
body > header {
  background-color: black;
  text-align: center;
  color: white;
  padding: 2.5rem 0 1.5rem 0;
}

body > header > h1 {
  font-family: game-on;
  font-size: 1.9rem;
}

/*
  #######################
  #### BODY > MAIN ####
  #######################
  */

body > main > section#bot1,
section#bot2 {
  display: flex;
  flex-direction: column;
}
button.volver {
  margin: 1rem;
  padding: 0.5rem;
  width: 50%;
  align-self: center;
  border: 2px solid black;
  background-color: #ec9c9c;
  font-weight: bold;
  color: black;
}

button.volver:hover {
  border: 2px solid black;
  background-color: var(--redQuiz);
  color: white;
}

section#info,
section#instrucciones {
  margin: 1rem;
}

h2,
h3 {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

section#bot2 > p {
  align-self: center;
  font-weight: bold;
  margin-top: 2rem;
  color: var(--redQuiz);
  font-size: 20px;
}

li {
  margin: 1rem 0 0.5rem 2rem;
}

/*
  #######################
  #### BODY > FOOTER ####
  #######################
  */
body > footer {
  background-color: black;
  font-weight: bold;
  color: white;
  padding: 1rem 0;
  text-align: center;
  margin-top: 1rem;
  font-size: 1rem;
}

/*#####################################################################*/

/*
### RESPONSIVE PARA TABLET ##
#############################
#### MEDIA QUERY: 700px #####
#############################
*/
/*Todo esto son cambios específicos que se aplicarán a partir de los 700 píxeles*/
@media (min-width: 700px) {
  body > header > h1 {
    font-size: 4rem;
  }
  body > main {
    font-size: 25px;
  }

  section#info,
  section#instrucciones {
    margin: 1rem 3rem 1rem 3rem;
  }

  button.volver {
    width: 30%;
    font-size: 20px;
  }
}

/*#####################################################################*/

/*
##### RESPONSIVE PARA PC ####
#############################
#### MEDIA QUERY: 1200px ####
#############################
*/
/*Todo esto son cambios específicos que se aplicarán a partir de los 1200 píxeles*/
@media (min-width: 1200px) {
  body > header > h1 {
    font-size: 4rem;
  }

  body > main {
    font-size: 18px;
  }

  section#info,
  section#instrucciones {
    margin: 1rem 3rem 1rem 3rem;
  }

  button.volver {
    width: 15%;
    font-size: 15px;
  }
}
