* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.5s;
}

/*
  ########################
  #### FUENTE TEXTO ######
  ########################
  */
@font-face {
  font-family: game-on;
  src: url(../multimedia/fuente/Game\ On_PersonalUseOnly.ttf);
}

/*
  ################
  #### ROOT ######
  ################
  */
/*Definimos el azul que vamos a usar en diversos elementos de nuestra app*/
:root {
  --redQuiz: #b83838;
}

/*
  ################
  #### BODY ####
  ################
  */
body {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  height: 100vh;
  background-color: rgb(206, 204, 204);
}

/*
  #######################
  #### BODY > HEADER ####
  #######################
  */
body > header {
  background-color: black;
  text-align: center;
  color: white;
  padding: 2.5rem 0 1.5rem 0;
}

h1 {
  font-family: game-on;
  font-size: 1.9rem;
}

/*
  #######################
  #### BODY > COUNTER ###
  #######################
  */
p.counter {
  align-self: center;
  font-size: 2rem;
  font-weight: bold;
  color: var(--redQuiz);
  background-color: white;
  margin: 2rem 0;
  padding: 0.5rem 1rem;
  border: 3px solid var(--redQuiz);
  border-radius: 5px;
  box-shadow: 5px 5px 10px grey;
}

/*
  #######################
  #### BODY > ENUNCIADO ###
  #######################
  */
h2.enunciado {
  padding: 0 1rem 0 1rem;
  font-weight: bold;
  color: black;
}
/*
  #######################
  #### BODY > MAIN ######
  #######################
  */
main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
}

main#quiz p {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  line-height: 2rem;
  padding: 1rem 1rem;
  border: 2px solid black;
  margin: 1rem;
  box-shadow: 5px 5px 10px grey;
  background-color: white;
}

main#quiz button {
  background: black;
  color: white;
  border: none;
  max-width: 600px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: bold;
  margin: 0.7rem 1rem;
  border-radius: 5px;
  box-shadow: 5px 5px 10px grey;
}

main#quiz button:hover {
  color: red;
}

/*
  #######################
  #### BODY > FOOTER ####
  #######################
  */
body > footer {
  background-color: black;
  font-weight: bold;
  color: white;
  padding: 1rem 0;
  text-align: center;
  margin-top: 1rem;
  font-size: 1rem;
}
a.instructions {
  color: var(--redQuiz);
  font-weight: bold;
}
a.instructions:hover {
  color: wheat;
}

/*#####################################################################*/

/*
### RESPONSIVE PARA TABLET ##
#############################
#### MEDIA QUERY: 700px #####
#############################
*/
/*Todo esto son cambios específicos que se aplicarán a partir de los 700 píxeles*/
@media (min-width: 700px) {
  /*
    #######################
    #### BODY > HEADER ####
    #######################
    */
  h1 {
    font-size: 4rem;
  }
  /*
    #######################
    #### BODY > ENUNCIADO ###
    #######################
    */
  h2.enunciado {
    font-size: 1.9rem;
  }
  /*
  #######################
  #### BODY > MAIN ######
  #######################
  */
  main#quiz p {
    font-size: 1.8rem;
    line-height: 50px;
  }

  main#quiz button {
    font-size: 1.5rem;
    max-width: 1000px;
    padding: 0.8rem 1.2rem;
  }
}

/*#####################################################################*/

/*
##### RESPONSIVE PARA PC ####
#############################
#### MEDIA QUERY: 1200px ####
#############################
*/
/*Todo esto son cambios específicos que se aplicarán a partir de los 1200 píxeles*/
@media (min-width: 1200px) {
  /*
    #######################
    #### BODY > HEADER ####
    #######################
    */
  h1 {
    font-size: 4rem;
  }
  /*
    #######################
    #### BODY > ENUNCIADO ###
    #######################
    */
  h2.enunciado {
    font-size: 1.9rem;
    min-width: 1200px;
    margin: 1rem 250px 0.5rem 250px;
  }
  /*
    #######################
    #### BODY > MAIN ######
    #######################
    */
  main#quiz p {
    font-size: 1.5rem;
    line-height: 40px;
    margin: 0.5rem 250px 1rem 250px;
  }
  main#quiz button {
    font-size: 1.3rem;
    max-width: 1000px;
    padding: 0.8rem 1.2rem;
  }
}
